{%extends 'base.html'%}
{%block content%}
<div class="container">
  <h1>My profile</h1>

  <img src="{{page_user.profile_image.url}}" alt="">


<img src="{{page_user.background_image.url}}" alt="" width=50% height=50%>

{{page_user.email}}
{{page_user.username}}
{{page_user.first_name}}
{{page_user.last_name}}

{% if page_user.date_of_birth %}

{{page_user.date_of_birth}}

{% else %}
<h1>date of birth not set yet</h1>

{% endif %}

<li>
  {% if user.is_authenticated %}
  <a href="{% url 'VIDEO_PAGE:create' %}">Upload new Video</a>
  <h1></h1>
  <a href="{% url 'VIDEO_PAGE:profile_video_page' %}">My Videos</a>
  <h1>
  </h1>
  <a href="{% url 'SONG_PAGE:create' %}">Upload new Song</a>
  <h1></h1>
  <a href="{% url 'SONG_PAGE:profile_song_page' %}">My Songs</a>
  {% endif %}


</li>
  <li>  
    {% for video in video %}
    <h2><a href="{% url 'VIDEO_PAGE:detail' slug=upload.slug %}">{{video.title}}</a></h2>
    <p>{{video.snippet}}</p>
    <p>{{video.date}}</p> 
    {% endfor %}  
  </li>
 
</div>
<a href="{% url 'home' %}">Return</a>
{% endblock %}