{%extends 'base.html'%}
{%block content%}


 <!-- about  -->
 <div id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>{{video.title}}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="about-box">
                    <figure>
                        {% if video.video %}
                        <video width="1280" height="720" controls="controls">       
                         <source src="{{video.video.url}}#t=10" type="video/mp4"> 
                        </video>  
                        {% endif %}
                    </figure>

                    <p>{{video.body}}</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
